<body class="contianer">
    <h3 class = "header"> All News Scrape</h3>
    <div id="buttons">
        <button class="btn" id="headline-sort">Headlines</button>
    </div>
    <table id="results">
        <thread>
            <tr>
                <th id="title"> Title</th>
                <th id="summary"> Summary</th>
                <th id="link"> Link </th>
                <th id="image"> Image </th>
            </tr>
        </thread>
       <tbody>
                {{#each articles}}
                    <tr>
                        <td> {{{Headline}}}</td>
                        <td> {{{Summary}}}</td>
                        <td> {{{Link}}} </td>
                        <td> <img src={{{Image}}}> </td>
                    </tr>
                {{/each}}
            </tbody>
    </table>


    
    <script src="../public/assets/js/app.js"></script>
</body>
