<body class="contianer">
    <h3 class = "header"> All News Scrape</h3>
    <div id="buttons">
        <button class="btn" id="headline-sort">Sort by Headline</button>
    </div>
    <table id="results">
        <thread>
            <tr>
                <th id="title"> Title</th>
                <th id="summary"> Summary</th>
                <th id="link"> Link </th>
                <th id="image"> Image </th>
            </tr>
        </thread>
        <tableBody id="tableBody">
            <!--results go here -->
        </tableBody>
    </table>


    
    <script src="app.js"></script>
</body>
